<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_DOAN_rptDoann" connectionString="XpoProvider=MSSqlServer;data source=LAPTOP-D4IEITM3\SQLEXPRESS02;integrated security=SSPI;initial catalog=DOAN" />
        <add name="localhost_DOAN_rptDoan" connectionString="XpoProvider=MSSqlServer;data source=LAPTOP-D4IEITM3\SQLEXPRESS02;integrated security=SSPI;initial catalog=DOAN" />
        <add name="localhost_DOAN_rptDoannn" connectionString="XpoProvider=MSSqlServer;data source=LAPTOP-D4IEITM3\SQLEXPRESS02;integrated security=SSPI;initial catalog=DOAN" />
        <add name="localhost_DOAN_rptQLDA" connectionString="XpoProvider=MSSqlServer;data source=LAPTOP-D4IEITM3\SQLEXPRESS02;integrated security=SSPI;initial catalog=DOAN" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>